.home_btn {
  width: 200px;
  background-color: #ff9966;
  border-radius: 10px;
  margin: 15px auto 15px auto;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  text-align: center;
}

.home_btn p a {
  color: white;
  text-decoration: none;
}

#div_spacer {
  height: 100px;
  width: 100%;
}

