
#reader_div {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

#reader_title {
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
}

#reader_sub {
  font-size: 1.2em;
  font-weight: 600;
}

reader_body {
  
}